{% extends 'base.html' %}

{% block title %}
    Delete student
{% endblock %}

{% block header %}
    Delete student
{% endblock %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        <p>Do you really want to remove {{ student.first_name }} {{ student.last_name }}?</p>
        {{form.as_p}}
        <input class="btn btn-danger" type="submit" value="Agree">
        <a type="button" class="btn btn-primary" href="{% url 'students:list' %}">Cancel</a>
    </form>
{% endblock %}
