{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Students list
{% endblock %}

{% block header %}
    Students list
{% endblock %}

{% block content%}
    <form method="get">

        {{ obj_filter.form | crispy }}

        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>

    <p><strong>Count of students: {{ obj_filter.qs.count }}</strong></p>

    {% with list_objects=obj_filter.qs  %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}

{% endblock %}
