{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Students list
{% endblock %}

{% block header %}
    List of students
{% endblock%}

{% block content %}
    <div class="collapse" id="collapseExample">
    <form method="get">

        {{ object_list.form | crispy }}

        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
    </div>

    <p><strong>Count of students: {{ object_list.qs.count }}</strong></p>

    {% with list_objects=object_list.qs  %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}

{% endblock %}
