{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Students list
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>List of students</strong></cite></span></h2>
    <hr />
{% endblock%}

{% block content %}
    <div class="collapse" id="collapseExample">
    <form method="get">

        {{ object_filter.form | crispy }}


        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
    </div>

{#    <p><strong>Count of students: {{ object_list.qs.count }}</strong></p>#}

    {% with list_objects=object_list  %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}

    {% if is_paginated %}
        {% include 'includes/paginator.html' %}
    {% endif %}

{% endblock %}
