{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Update student</title>
{% endblock %}

{% block current %}
    <h2>Update student</h2>
{% endblock %}

{% block links %}
    <a href="{% url 'students:list' %}">
        <h3>Students list</h3>
    </a>
    <a href="{% url 'students:create' %}">
        <h3>Students create</h3>
    </a>
{% endblock %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary mt-3" type="submit" value="Update">
        <a class="btn btn-primary mt-3" href="{% url 'students:list' %}">Cancel</a>
    </form>
{% endblock %}
