{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Update student
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Update student</strong></cite></span></h2>
    <hr />
{% endblock %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary mt-3" type="submit" value="Update">
        <a class="btn btn-primary mt-3" href="{% url 'students:list' %}">Cancel</a>
    </form>
{% endblock %}
