{% extends 'base.html' %}

{% block title %}
    <title>Delete group</title>
{% endblock %}

{% block current %}
    <h2>Delete group</h2>
{% endblock %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        <p>Do you really want to remove {{ group.group_name }}?</p>
        {{ form.as_p }}
        <input class="btn btn-danger" type="submit" value="Agree">
        <a type="button" class="btn btn-primary" href="{% url 'groups:list' %}">Cancel</a>
    </form>
{% endblock %}
