{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Groups list
{% endblock %}

{% block header %}
    Groups list
{% endblock %}

{% block content%}
    <form method="get">

        {{ obj_filter.form | crispy }}
    </form>

    <p><strong>Count of groups: {{ obj_filter.qs.count }}</strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>Group name</th>
            <th>Lessons total</th>
            <th>Start date</th>
            <th>End date</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash-fill"></i></th>
        </tr>

        {% for group in obj_filter.qs %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.group_name }}</td>
            <td>{{ group.lessons_total }}</td>
            <td>{{ group.start_date }}</td>
            <td>{{ group.end_date }}</td>
            <td><a href="{% url 'groups:update' group.id %}">EDIT</a></td>
            <td><a href="{% url 'groups:delete' group.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
