{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Update group
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Update group</strong></cite></span></h2>
    <hr />
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-success mt-3" type="submit" id="btn_save">Save</button>
        <a class="btn btn-primary mt-3" href="{% url 'groups:list' %}">Cancel</a>
    </form>

    {% with list_objects=students %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}

{% endblock %}
