{% extends 'base.html' %}

{% block title %}
    <title>Update group</title>
{% endblock %}

{% block current %}
    <h2>Update group</h2>
{% endblock %}

{% block links %}
    <a href="{% url 'groups:list' %}">
        <h3>Groups list</h3>
    </a>
    <a href="{% url 'groups:create' %}">
        <h3>Create group</h3>
    </a>
{% endblock %}


{% block content%}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update">
    </form>
{% endblock %}
