{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Create teacher</title>
{% endblock %}

{% block current %}
    <h2>Create teacher</h2>
{% endblock %}

{% block links %}
    <a href="{% url 'teachers:list' %}">
        <h3>Teachers list</h3>
    </a>
{% endblock %}

{% block content%}

    <form method="post">
        {% csrf_token %}
       {{ form | crispy }}
        <input class="btn btn-primary mt-3" type="submit" value="Create">
        <a class="btn btn-primary mt-3" href="{% url 'teachers:list' %}">Cancel</a>
    </form>

{% endblock %}
