{% extends 'base.html' %}

{% block title %}
    Delete teacher
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Delete teacher</strong></cite></span></h2>
    <hr />
{% endblock %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        <p>Do you really want to remove {{ teacher.first_name }} {{ teacher.last_name }}?</p>
        {{ form.as_p }}
        <input class="btn btn-danger" type="submit" value="Agree">
        <a type="button" class="btn btn-primary" href="{% url 'teachers:list' %}">Cancel</a>
    </form>
{% endblock %}
