{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
<title>Teachers list</title>
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>List of teachers</strong></cite></span></h2>
    <hr />
{% endblock%}

{% block content %}
    <div class="collapse" id="collapseExample">
    <form method="get">

        {{ object_list.form | crispy }}

        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
    </div>

{#    <p><strong>Count of teachers: {{ object_list.qs.count }}</strong></p>#}

    {% with list_objects=object_list  %}
        {% include 'includes/teachers_list_table.html' %}
    {% endwith %}

    {% include 'includes/paginator.html' %}

{% endblock %}
