{% extends 'base.html' %}

{% block title %}
    <title>Teachers list</title>
{% endblock %}

{% block current %}
    <h2>Teachers list</h2>
{% endblock %}

{% block links %}
    <a href="{% url 'teachers:create' %}">
        <h3>Create teacher</h3>
    </a>
{% endblock %}

{% block content%}

    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" name="first_name"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" name="last_name"><br><br>

        <label>Experience:</label>
        <input type="number" name="experience"><br><br>

        <input type="submit" value="Submit">

    </form>

    {% for teacher in teachers %}

        <a href="{% url 'teachers:update' teacher.id %}">EDIT</a> {{ teacher }}<br>

    {% endfor %}

{% endblock %}
