{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Teachers list
{% endblock %}

{% block header %}
    Teachers list
{% endblock %}

{% block content%}

    <form method="get">

         {{ obj_filter.form | crispy }}

    </form>

    <p><strong>Count of teachers: {{ obj_filter.qs.count }}</strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Groups</th>
            <th><i class="bi bi-telephone-fill"></i></th>
            <th><i class="bi bi-envelope-fill"></i></th>
            <th>Experience</th>
            <th><i class="bi bi-pencil-fill"></i></th>
            <th><i class="bi bi-trash-fill"></i></th>
        </tr>

         {% for teacher in obj_filter.qs %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.group }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.experience }}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
