{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create new user
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Add new user</strong></cite></span></h2>
    <hr />
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success mt-3" type="submit" value="Sign Up">
        <a class="btn btn-success mt-3" href="{% url 'accounts:login' %}">Sign In</a>
    </form>
{% endblock %}
