{% extends 'base.html' %}

{% block title %}
    Delete course
{% endblock %}

{% block header %}
    <h2 style="font-style:italic"><span style="color:#0033ff"><cite><strong>Delete course</strong></cite></span></h2>
    <hr />
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Do you really want to remove {{ course.name }} ?</p>
        <input class="btn btn-danger" type="submit" value="Agree">
        <a class="btn btn-primary" href="{% url 'groups:list' %}">Cancel</a>
    </form>
{% endblock %}
